{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}{{ server["info"]["name"] }} {% endblock %}</h1>
{% endblock %}
{% block content %}
<p class="cached">This information is cached till {{ expire }}.</p>
<table id="server-info-table">
    <tbody>
        {% if server["server_id"][0] == "+" %}
        <tr class="odd">
            <th>Invite code:</th>
            <td>
                {{ server["server_id"] }}
            </td>
        </tr>
        {% else %}
        <tr class="odd">
            <th>Server address(es):</th>
            <td>
                {% if "ipv4" in server %}
                {{ server["ipv4"]["ip"] }}:{{ server["ipv4"]["port"] }}
                {% endif %}
                {% if "ipv4" in server and "ipv6" in server %}<br>{% endif %}
                {% if "ipv6" in server %}
                [{{ server["ipv6"]["ip"] }}]:{{ server["ipv6"]["port"] }}
                {% endif %}
            </td>
        </tr>
        {% endif %}
        <tr class="even">
            <th>Server version:</th>
            <td>
                {{ server["info"]["openttd_version"] }}
            </td>
        </tr>
        <tr class="odd">
            <th>Server password:</th>
            <td>
                {% if server["info"]["use_password"] == 1 %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        <tr class="even">
            <th>Start date:</th>
            <td>
                {{ server["info"]["start_date"] }}
            </td>
        </tr>
        <tr class="odd">
            <th>Current date:</th>
            <td>
                {{ server["info"]["game_date"] }}
            </td>
        </tr>
        <tr class="even">
            <th>Clients:</th>
            <td>
                {{ server["info"]["clients_on"] }} / {{ server["info"]["clients_max"] }}
            </td>
        </tr>
        <tr class="odd">
            <th>Companies:</th>
            <td>
                {{ server["info"]["companies_on"] }} / {{ server["info"]["companies_max"] }}
            </td>
        </tr>
        <tr class="even">
            <th>Spectators:</th>
            <td>
                {{ server["info"]["spectators_on"] }}
            </td>
        </tr>
        <tr class="odd">
            <th>Landscape:</th>
            <td>
                {{ mapsets[server["info"]["map_type"]] }}
            </td>
        </tr>
        <tr class="even">
            <th>Map size:</th>
            <td>
                {{ server["info"]["map_width"] }} x {{ server["info"]["map_height"] }}
            </td>
        </tr>
        <tr class="odd">
            <th>Dedicated server:</th>
            <td>
                {% if server["info"]["is_dedicated"] == 1 %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        <tr class="even">
            <th>Gamescript:</th>
            <td>
                {% if server["info"]["gamescript_version"] is none %}
                    Unknown
                {% elif server["info"]["gamescript_version"] == GAMESCRIPT_VERSION_NONE %}
                    None
                {% else %}
                    {{ server["info"]["gamescript_name"] }} (v{{ server["info"]["gamescript_version"] }})
                {% endif %}
            </td>
        </tr>
        {% if server["info"]["newgrfs"] is not none %}
        <tr class="odd">
            <th>NewGRFs in use:</th>
            <td>
                {{ server["info"]["newgrfs"]|length }}
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
