{% if not filter %}
{% set selected_nav = "all" %}
{% endif %}
{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}
        {% if filter %}
            Server List - Version {{ filter[0].upper() + filter[1:] }}
        {% else %}
            Server List
        {% endif %}
    {% endblock %}</h1>
{% endblock %}
{% block content %}

<table id="server-table">
<thead>
    <tr>
        <th class="dedicated"></th>
        <th class="name">Name</th>
        <th class="clients">Clients</th>
        <th class="companies">Companies</th>
        <th class="version">Version</th>
        <th class="icon-password"></th>
        <th class="icon-grf"></th>
        <th class="icon-gamescript"></th>
    </tr>
</thead>
<tbody>
    <p>There are {{ clients }} clients, {{ servers_ipv4 }} IPv4 servers and {{ servers_ipv6 }} IPv6 servers in this list.</p>
    <p class="cached">This list is cached till {{ expire }}.</p>
{% for server in servers %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
        <td class="image">
            {% if server['info']['is_dedicated'] == 1 %}
                <img src="/static/img/server-dedicated.png" alt="Dedicated" title="Dedicated">
            {% else %}
                <img src="/static/img/server-client.png" alt="Non-Dedicated" title="Non-Dedicated">
            {% endif %}
        </td>
        <td>
            <div class="nowrap" style="width: 562px;">
                <a href="/server/{{ server['server_id'] }}">
                    {{ server['info']['name'] }}
                </a>
            </div>
        </td>
        <td>
            {{ server['info']['clients_on'] }} / {{ server['info']['clients_max'] }}
        </td>
        <td>
            {{ server['info']['companies_on'] }} / {{ server['info']['companies_max'] }}
        </td>
        <td>
            <div class="nowrap" style="width: 120px;">
                <a href="/listing/{{ server['info']['openttd_version'] }}">{{ server['info']['openttd_version'] }}</a>
            </div>
        </td>
        <td class="image">
            {% if server['info']['use_password'] == 1 %}
                <img src="/static/img/server-lock.png" alt="Password" title="Password Protected">
            {% endif %}
        </td>
        <td class="image">
            {% if server['info']['newgrfs']|length > 0 %}
                <img src="/static/img/server-grf.png" alt="GRF" title="NewGRFs Required">
            {% endif %}
        </td>
        <td class="image">
            {% if server['info']['gamescript_version'] and server["info"]["gamescript_version"] != GAMESCRIPT_VERSION_NONE %}
                <img src="/static/img/server-gamescript.png" alt="GS" title="Uses gamescript">
            {% endif %}
        </td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
